/* write css here */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: sans-serif;
    /* background-color: #c1d3f0; */
}

.container{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #f7efd2;
    padding: 1rem;
    text-align: center;
}

h1{
    color: 	#475c6c;
    text-align: center;
    margin: 1rem;
    font-size: 3rem;
}

h2{
    color: 	#475c6c;
    text-align: center;
    /* margin: 1rem; */
    font-size: 2rem;
}

.form-container{
    /* border: 1px solid #1a1a1a; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    padding: 2rem;
    gap: 1rem;

    box-shadow: 0px 0px 1rem #475c6c2f;
    border-radius: 2rem;
}

#expenseForm{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.field-group{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    gap: .8rem;
    width: 40rem;
}

label{
    font-size: 1.6rem;
    color: #475c6c;
    font-weight: 500;
}

/* For removing arrow */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    appearance: none;
    margin: 0; 
}

input, select{
    outline: none;
    padding: .5rem;
    border: 1px solid #475c6c;
    border-radius: 0.5rem;
    height: 3rem;
    width: 100%;
    font-size: 1.6rem;
    color: #475c6c;
}

select{
    color: #475c6c;
    cursor: pointer;
    background-color: white;
}

#form-buttons{
    display: flex ;
    flex-direction: row;
    gap: 2rem;
}

#form-buttons button{
    width: 100%;
}

.btn{
    /* border: 1px solid #1a1a1a; */
    border: none;
    cursor: pointer;
    padding: .5rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
}

.btn:hover{
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
}

.expense--add{
    background-color: #475c6c;
    color: white;
}

.expense--reset{
    background-color: white;
    color: #475c6c;
    border: 1px solid #475c6c !important;
}

.expense--remove{
    border: 1px solid red !important;
    background-color: red;
    color: white;
    font-size: 1.4rem;
    font-weight: 550;
}


/* Expense Table */

.table-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
}

#expenseTable{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #1a1a1a;
    /* margin: 1rem; */
}

.table-header{
    background-color: #475c6c;
    color: white;
}

th{
    text-align: left;
    padding: 1rem;
    font-size: 1.6rem;
}

tr{
    border: 1px solid #475c6c42;

}

td{
    text-align: left;
    padding: 1rem;
    font-size: 1.6rem;
}

@media screen and (min-width: 1200px) {
    .container{
        width: 100%;
        flex-direction: row;
    }

    .form-container{
        width: 35%;
        margin: 2rem;
    }

    .table-container{
        width: 65%;
        margin: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        padding: 1rem;
        width: 100%;
        overflow: hidden;
    }

    .field-group {
        width: 100%;
        max-width: 100%;
    }

    .form-container {
        width: 100%;
        padding: 1.5rem;
        margin: 1rem 0;
    }

    .table-container {
        width: 90%;
        height: 30rem;
        margin: 1rem auto;
        overflow-x: scroll;
        overflow-y: scroll;
    }

    #expenseTable {
        /* min-width: 60rem; */
        width: 90%;
        margin: 1rem auto;
    }

    .header {
        padding: 0.5rem;
    }

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.5rem;
    }

    label{
        font-size: 1.4rem;
    }

    input,select{
        font-size: 1.4rem;
        height: 3rem;
    }

    .btn{
        font-size: 1.4rem;
        padding: 0.5rem;
    }

    th,td{
        padding: 0.8rem;
        font-size: 1.4rem;
        text-wrap: nowrap;
    }

    #form-buttons {
        flex-direction: column;
        gap: 0.5rem;
    }

    #form-buttons button {
        width: 100%;
    }
}


@media screen and (max-width: 400px) {
    .header{
        padding: .3rem;
    }

    .field-group{
        width: 20rem;
    }
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.3rem;
    }

    input, select, label{
        font-size: 1.2rem;
    }

    .btn{
        padding: .3rem;
        font-size: 1.2rem;
    }

    .table-container{
        margin: 1rem auto;
    }

    #expenseTable{
        margin: auto;
        width: 100%;
    }

    th, td{
        padding: .5rem;
        font-size: 1.2rem;
        text-wrap: nowrap;
    }
}